
    <h1>Display your Pirate here</h1>
    <h3>Pirate Name: <%= @pirates.name %></h3>
    <h4>Pirate Weight: <%= @pirates.weight %></h4>
    <h4>Pirate Age: <%= @pirates.age %></h4>


    <h2>Display your first ship here</h2>
    <p>Ship Name: <%= @ships[0].name %></p>
    <p>Ship Type: <%= @ships[0].type %></p>
    <p>Ship Booty: <%= @ships[0].booty %></p>

    <h2>Display your second ship here</h2>
    <p>Ship Name: <%= @ships[1].name %></p>
    <p>Ship Type: <%= @ships[1].type %></p>
    <p>Ship Booty: <%= @ships[1].booty %></p>
